.stpage-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cherry Swash', cursive;
  flex-direction: column;
}

.input-zone {
  width: 30vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3rem;
}

.font-size-large {
  font-size: 2rem;
}

.st-title {
  width: 100vw;
  height: 10vh;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
  .input-zone {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
  }
}
