.aaa {
  text-align: center;
  /* color: #a22041; */
  font-weight: bold;
  font-size: 55px;
  font-family: "HiraMinProN-W6";
  color: rgba(255, 0, 0, 0.3);
}

.aa {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(110deg, #cacaff 0%, #ffdbf6 25%, #f5ffb4 50%, #b4ffe2 75%, #dcb4ff 100%);
}

.aaaa {
  text-align: center;
}

.siraberu {
  /* font-weight: bold; */
  font-size: 30px;
  font-family: "HiraMinProN-W6";
  color: rgba(234, 0, 255, 0.3);
}

.siraberuu {
  /* font-weight: bold; */
  font-size: 30px;
  font-family: "HiraMinProN-W6";
  color: rgba(234, 0, 255, 0.3);
}
