.april{
    color : darkcyan;
    text-align: center;
    font-size: 90px;
}

body{
    background-color: skyblue;
}

.ritomasusi{
    font-size: 90px; 
    color : darkcyan;
}

.gannenn{
    text-align: center;
    font-size: 201px; 
    color : red
}