.april{
    color : darkcyan;
    text-align: center;
    font-size: 90px;
}

body{
    background-color: skyblue;
}

.ritomasusi{
    font-size: 90px; 
    color : darkcyan;
}

.rrrrr{
    text-align: center;
    font-size: 75px; 
    color: azure
}