.app-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #6c2735;
}

.title {
  display: flex;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
  font-size: 5rem;
  cursor: pointer;
}

.flexbox {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.individual-page-utako {
  font-size: 2rem;
  color: springgreen;
  cursor: pointer;
}

.individual-page-sawa {
  font-size: 2rem;
  color: salmon;
  cursor: pointer;
}

.individual-page-takumi {
  font-size: 2rem;
  color: royalblue;
  cursor: pointer;
}

.peace {
  cursor: pointer;
}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
  .title {
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
  }
  .flexbox {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .individual-page-utako {
    font-size: 2rem;
    height: 4rem;
    color: springgreen;
    cursor: pointer;
  }

  .individual-page-sawa {
    font-size: 2rem;
    height: 4rem;
    color: salmon;
    cursor: pointer;
  }

  .individual-page-takumi {
    font-size: 2rem;
    height: 4rem;
    color: royalblue;
    cursor: pointer;
  }
} ;
